.a1 {
	height: 123px;
	width: 1340px;
	position: absolute;
	background-color: #0A285A;
	left: 5px;
	top: 5px;
}
.a11 {
	height: 90px;
	width: 1340px;
	position: absolute;
	top: 874px;
	left: 1px;
	background-color: #333333;
}
.a0 {
	height: 964px;
	width: 1300px;
	position: absolute;
	left: 7px;
	top: 7px;
}


.a6 {
	height: 40px;
	width: 564px;
	position: absolute;
	top: 422px;
	left: 410px;
}
.a7 {
	height: 63px;
	width: 382px;
	position: absolute;
	left: 814px;
	top: 75px;
}
.a8 {
	height: 344px;
	width: 306px;
	position: absolute;
	left: 530px;
	top: 530px;
}
.a9 {
	height: 351px;
	width: 311px;
	position: absolute;
	left: 216px;
	top: 530px;
}
.a10 {
	height: 351px;
	width: 311px;
	position: absolute;
	left: 842px;
	top: 530px;
}




.a5 {
	height: 284px;
	width: 935px;
	position: absolute;
	background-color: #FFFFFF;
	left: 219px;
	top: 132px;
}

.a2 {
	height: 129px;
	width: 124px;
	position: absolute;
	left: 2px;
	top: -4px;
}
.a3 {
	width: 1100px;
	position: absolute;
	left: 127px;
	top: 7px;
	height: 65px;
}
.a4 {
	height: 41px;
	width: 239px;
	position: absolute;
	left: 1114px;
	top: 3px;
}
.a12 {
	height: 36px;
	width: 528px;
	position: absolute;
	left: 458px;
	top: 138px;
	background-color: #D8D8D8;
}
.a13 {
	height: 258px;
	width: 528px;
	position: absolute;
	left: 458px;
	top: 174px;
	background-color: #FBFFD9;
}
.a15 {
	height: 292px;
	width: 528px;
	position: absolute;
	left: 455px;
	top: 136px;
}

.a14 {
	height: 50px;
	width: 300px;
	position: absolute;
	left: 123px;
	top: 193px;
}
.a50 {
	height: 31px;
	width: 206px;
	position: absolute;
	top: 490px;
	left: 411px;
}
