.a75 {
	height: 600px;
	width: 1306px;
	position: absolute;
	top: 151px;
	left: 29px;
}
.a76 {
	height: 299px;
	width: 253px;
	position: absolute;
	top: 212px;
	left: 206px;
}
.a77 {
	height: 303px;
	width: 600px;
	position: absolute;
	left: 606px;
	top: 214px;
}


.a17 {
	height: 117px;
	width: 1330px;
	position: absolute;
	left: 27px;
	top: 14px;
}
.a18 {
	height: 117px;
	width: 132px;
	position: absolute;
}
.a19 {
	height: 59px;
	width: 635px;
	position: absolute;
	left: 136px;
	top: 0px;
}
.a20 {
	height: 50px;
	width: 200px;
	position: absolute;
	left: 1141px;
	top: 95px;
}
