.a70 {
	height: 600px;
	width: 1316px;
	position: absolute;
	top: 144px;
	left: 28px;
}
.a71 {
	height: 40px;
	width: 199px;
	position: absolute;
	top: 165px;
	left: 49px;
}
.a72 {
	height: 600px;
	width: 1000px;
	position: absolute;
	top: 226px;
	left: 102px;
}


.a17 {
	height: 117px;
	width: 1330px;
	position: absolute;
	left: 27px;
	top: 14px;
}
.a18 {
	height: 117px;
	width: 132px;
	position: absolute;
}
.a19 {
	height: 59px;
	width: 635px;
	position: absolute;
	left: 136px;
	top: 0px;
}
.a20 {
	height: 50px;
	width: 200px;
	position: absolute;
	left: 1141px;
	top: 95px;
}
