.a33 {
	height: 1164px;
	width: 1330px;
	position: absolute;
}
.a34 {
	height: 437px;
	width: 358px;
	position: absolute;
	left: 10px;
	top: 24px;
}
.a35 {
	height: 1165px;
	width: 956px;
	position: absolute;
	left: 378px;
	top: 15px;
}
.a36 {
	height: 31px;
	width: 108px;
	position: absolute;
	left: 397px;
	top: 26px;
}
.a37 {
	height: 300px;
	width: 310px;
	position: absolute;
	top: 69px;
	left: 56px;
}
.a38 {
	height: 10px;
	width: 290px;
	position: absolute;
	top: 145px;
	left: 47px;
}
.a39 {
	height: 10px;
	width: 291px;
	position: absolute;
	top: 293px;
	left: 46px;
}
.a40 {
	height: 10px;
	width: 289px;
	position: absolute;
	top: 218px;
	left: 48px;
}
.a41 {
	height: 10px;
	width: 290px;
	position: absolute;
	top: 368px;
	left: 46px;
}
.a44 {
	height: 37px;
	width: 857px;
	position: absolute;
	left: 439px;
	top: 59px;
}
.a45 {
	height: 31px;
	width: 857px;
	position: absolute;
	left: 439px;
	top: 209px;
}
.a46 {
	height: 924px;
	width: 858px;
	position: absolute;
	left: 439px;
	top: 242px;
}
.a47 {
	height: 109px;
	width: 858px;
	position: absolute;
	left: 439px;
	top: 98px;
}
.a48 {
	height: 30px;
	width: 60px;
	position: absolute;
	left: 561px;
	top: 177px;
}
.a49 {
	height: 592px;
	width: 358px;
	position: absolute;
	top: 573px;
	left: 9px;
}
