.a33 {
	height: 800px;
	width: 1330px;
	position: absolute;
}
.a34 {
	height: 437px;
	width: 358px;
	position: absolute;
	left: 10px;
	top: 24px;
}
.a35 {
	height: 800px;
	width: 956px;
	position: absolute;
	left: 378px;
	top: 15px;
}
.a36 {
	height: 70px;
	width: 572px;
	position: absolute;
	left: 483px;
	top: 87px;
}
.a37 {
	height: 300px;
	width: 310px;
	position: absolute;
	top: 69px;
	left: 56px;
}
.a38 {
	height: 10px;
	width: 290px;
	position: absolute;
	top: 145px;
	left: 47px;
}
.a39 {
	height: 10px;
	width: 291px;
	position: absolute;
	top: 293px;
	left: 46px;
}
.a40 {
	height: 10px;
	width: 289px;
	position: absolute;
	top: 218px;
	left: 48px;
}
.a41 {
	height: 10px;
	width: 290px;
	position: absolute;
	top: 368px;
	left: 46px;
}
.a42 {
	height: 40px;
	width: 184px;
	position: absolute;
	left: 388px;
	top: 36px;
}
