.a17 {
	height: 117px;
	width: 1330px;
	position: absolute;
	left: 27px;
	top: 14px;
}
.a18 {
	height: 117px;
	width: 132px;
	position: absolute;
}
.a19 {
	height: 59px;
	width: 635px;
	position: absolute;
	left: 136px;
	top: 0px;
}
.a20 {
	height: 50px;
	width: 200px;
	position: absolute;
	left: 1141px;
	top: 95px;
}
.a27 {
	height: 115px;
	width: 374px;
	position: absolute;
	left: 27px;
	top: 172px;
	background-color: #FBFCE2;
}
.a28 {
	height: 38px;
	width: 1330px;
	position: absolute;
	top: 133px;
	left: 27px;
	background-color: #E1E1E1;
}
.a29 {
	height: 436px;
	width: 375px;
	position: absolute;
	top: 286px;
	left: 26px;
	background-color: #FEEFFE;
}
.a30 {
	height: 561px;
	width: 939px;
	position: absolute;
	left: 410px;
	top: 173px;
	background-color: #EEFFFF;
}
.a31 {
	height: 482px;
	width: 853px;
	position: absolute;
	top: 229px;
	left: 463px;
}
.a32 {
	height: 392px;
	width: 359px;
	position: absolute;
	top: 346px;
	left: 37px;
}
