.a17 {
	height: 117px;
	width: 1330px;
	position: absolute;
	left: 27px;
	top: 14px;
}
.a22 {
	height: 420px;
	width: 330px;
	position: absolute;
	left: 47px;
	top: 145px;
}
.a24 {
	width: 331px;
	position: absolute;
	background-color: #FFFFFF;
	height: 394px;
	left: 50px;
	top: 175px;
}
.a26 {
	height: 30px;
	width: 80px;
	position: absolute;
	left: 108px;
	top: 314px;
}

.a25 {
	height: 20px;
	width: 269px;
	position: absolute;
	left: 51px;
	top: 258px;
}


.a23 {
	position: absolute;
	height: 28px;
	width: 331px;
	left: 50px;
	top: 149px;
	background-color: #E0E0E0;
}


.a18 {
	height: 117px;
	width: 132px;
	position: absolute;
}
.a19 {
	height: 59px;
	width: 635px;
	position: absolute;
	left: 136px;
	top: 0px;
}
.a20 {
	height: 50px;
	width: 200px;
	position: absolute;
	left: 1141px;
	top: 95px;
}
.a21 {
	height: 460px;
	width: 1312px;
	position: absolute;
	top: 130px;
	left: 28px;
}
