<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>hibernate_0100_HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet-mapping>
    <servlet-name>getAllUser</servlet-name>
    <url-pattern>/getAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>modifyUser</servlet-name>
    <url-pattern>/modifyUser</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>getAllUser</servlet-name>
    <servlet-class>com.lincoln.action.GetAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>com.lincoln.action.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.lincoln.action.DeleteUserByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyUser</servlet-name>
    <servlet-class>com.lincoln.action.ModifyUserServlet</servlet-class>
  </servlet>
</web-app>